body {
  color: #000;
}

button {

  box-sizing: border-box;
  display: block;
  padding: 5px;

  background-color: greenyellow;
  color: white;
  border: 1px solid greenyellow;
  border-radius: 5%;

  text-transform: uppercase; 
  cursor: pointer;
}

button:hover {
  opacity: 0.6;
}

textarea {
  width: -webkit-fill-available;
}

.container {
  /* padding-top: 100px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 400px;
  background-color: blue  
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  width: 30%;
  padding: 3px;

  border: 1px solid black;
  border-radius: 3px;
  background-color: lightgray;
  text-transform: uppercase; 
}

.close {
  /* padding-left: 10px; */
  position: absolute;
  /* position: relative; */
  z-index: 10;
  color: red;
}

.delete-note {
  position: absolute;
  /* z-index: 1000; */
  color: red;
}

.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.drag-me.draggable-by-jquery-ui {
  background-color: #f60;
}

.draggable-by-jquery-ui {
  cursor: url("https://www.google.com/intl/en_ALL/mapfiles/openhand.cur"), all-scroll;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

.draggable-by-jquery-ui:active {
  cursor: url("https://www.google.com/intl/en_ALL/mapfiles/closedhand.cur"), all-scroll;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}

.hidden {
  display: none;
}

.title {
  color: yellow;
}

.note {
  padding: 2px;
  margin-bottom: 5px;
  border-radius: 3px;

  text-transform: none;

  /* cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; */
  /* cursor: pointer; */
  /* z-index: -1; */
}

.note-wrapper {
  background-color: white;
}
.note-wrapper.dragged {
  position: absolute;
  z-index: 100;
  pointer-events: none;
  background-color: aqua;
  /* cursor: grabbing; */
  cursor: grab;
}

.note-wrapper.dragged:active {
  cursor: grabbing;
}
