body {
  color: #000;
}

button {

  box-sizing: border-box;
  display: block;
  padding: 5px;

  background-color: greenyellow;
  color: white;
  border: 1px solid greenyellow;
  border-radius: 5%;

  text-transform: uppercase; 
  cursor: pointer;
}

button:hover {
  opacity: 0.6;
}

textarea {
  width: -webkit-fill-available;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 400px;
  background-color: blue  
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  width: 30%;
  padding: 3px;

  border: 1px solid black;
  border-radius: 3px;
  background-color: lightgray;
  text-transform: uppercase; 
}

.close {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  color: red;
}

.close::before {
  content: '\2716';
}

.delete-note {
  position: absolute;
  color: red;
}

.hidden {
  display: none;
}

.title {
  color: yellow;
}

.note {
  padding: 2px;
  margin-bottom: 5px;
  border-radius: 3px;

  text-transform: none;
}

.note-wrapper {
  background-color: white;
}

.note-wrapper:hover {
  cursor: grab;
}

.note-wrapper:active {
  cursor: grabbing;
}
.note-wrapper.dragged {
  position: absolute;
  z-index: 100;
  pointer-events: none;
  background-color: aqua;
  /* cursor: grabbing; */
  /* cursor: grabbing; */
}

/* .note-wrapper:active {
  cursor: grabbing;
} */

/* .note-wrapper.dragged:active {
  cursor: grabbing;
} */

/* .note-wrapper:active {
  cursor: grabbing;
} */

.proection {
  background-color: #f60;
}